<section id="office" class="members">
  <div class="container">
    <h2 >Office Bearers </h2>
    <div class="col-sm-4 col-md-4 year-selection" data-aos="fade-right">
      <div class="row">
        <div class="col-sm-2 col-md-4 year">
          <h6>Year : </h6>
        </div>
        <div class="col-sm-5 col-md-8">
          <select (change)="onYearchange($event.target)" class="form-select" aria-label="Default select example">
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
        
      </div>

    </div>

    <div class="row mb-5 align-items-end">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Parish Officers</h4>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
        *ngFor="let member of selectedOffice.officeMembers" 
      >
        <div class="member">
          <h5>{{ member.postion }}</h5>
          <div class="member-img">
            <img [src]="member.image" class="img-fluid off-mem-image" alt="" />
          </div>
          <div class="member-info">
            <h4>{{ member.name }}</h4>
            <p  *ngIf="member.mobile">
              {{ member.address }}<br />
              Mob: {{ member.mobile }}
            </p>
            <p *ngIf="!member.mobile">
              {{ member.address }}<br />
            </p>
          </div>
        </div>
      </div>
<!--     
    <div class="row mb-5 align-items-end">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Kaisthanasamithy</h4>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
        *ngFor="let member of selectedOffice.kaisthanasamithy"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="assets/img/blank-profile-picture.png"
              class="img-fluid off-mem-image"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>{{ member.name }}</h4>
            <p>
              {{ member.address }}<br />
              Mob: {{ member.mobile }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5 align-items-end">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Auditors</h4>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
        *ngFor="let member of selectedOffice.auditors"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="assets/img/blank-profile-picture.png"
              class="img-fluid off-mem-image"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>{{ member.name }}</h4>
            <p>
              {{ member.address }}<br />
              Mob: {{ member.mobile }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5 align-items-end">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Sexton</h4>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
        *ngFor="let member of selectedOffice.sextons"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="assets/img/blank-profile-picture.png"
              class="img-fluid off-mem-image"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>{{ member.name }}</h4>
            <p>
              {{ member.address }}<br />
              Mob: {{ member.mobile }}
            </p>
          </div>
        </div>
      </div>-->
    </div>
     
  </div>
</section>
<!-- End Members Section -->
