<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo row heading">
        <div class="col logo-col">
          <a href="/"><img src="assets/img/klpra_logo.png" alt="" class="img-fluid logo-img "></a>
        </div>
        <div class="col logo-col church-name-full">
          <h1 ><a class="church-name-start">St Thomas Marthoma Church</a></h1>
          <h1><a class="church-name-end" >Kallooppara</a></h1>
        </div>
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="/home">Home</a></li>
          <li class="dropdown" (click)="toggleDropdown()"><a class="about-us"><span>About us</span> <i class="bi bi-chevron-down" ></i></a>
            <ul class="ul-dropdown">
              <li><a href="/about-us">About</a></li>
              <li><a href="/history">Historic Moments</a></li>
              <li><a href="/parish-vicar">Parish Vicar</a></li>
              <li><a href="/former-vicar">Former Vicars</a></li>
              <li><a href="/founders">Founders</a></li>
              <li><a href="/organisation">Organisation</a></li>
              <li><a href="/office">Kaisthana Samithy</a></li>
            </ul>
          </li>
          <!-- <li><a  href="/events">News and Events</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Downloads</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Parish Bulletn</a></li>
              <li><a href="#">Downloads</a></li>
            </ul>
          </li> -->
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" (click)="toggleNavBar()"></i>
      </nav>

    </div>
  </header>