<section id="parish-vicar" class="section">
    <div class="container">
      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">

          <h2>Parish Vicar</h2>
        </div>
          
        </div>

      <div class="row">
        <div class="col-md-4 ms-auto order-2" data-aos="fade-up">
          <ul class="list-unstyled">
            <li class="mb-3">
              <strong class="d-block mb-1">Address</strong>
              <span>St Thomas Marthoma Kallooppara Parsonage M. North P.O Puramattom Thiruvalla. Pin 689543</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Landline</strong>
              <span>+91 0469 2677205</span>
            </li>
            <li class="mb-3">
                <strong class="d-block mb-1">Mobile</strong>
                <span>7025430383</span>
              </li>
            <li class="mb-3">
                <strong class="d-block mb-1">Year</strong>
                <span>2022 May - till date</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Family</strong>
                <span>Baskiamos: -
                </span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Childrens</strong>
                <span>-</span>
              </li>
          </ul>
        </div>

        <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            <div class="col-lg-6 col-md-6 d-flex align-items-center" data-aos="fade-right">
                <div class="member ">
                  <div class="member-img">
                    <img src="assets/img/vicar/jacob-varghese.jpeg" class="img-fluid" alt="" >
                  </div>
                  <div class="member-info">
                    <h6>Rev. Jacob Varghese</h6>
                  </div>
                </div>
              </div>
        </div>

      </div>
    </div>
  </section>