<section class="hero-section" id="hero">

    <!-- <div class="wave">
  
      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>
  
    </div> -->
  
    <div class="container">
      <div class="row align-items-center">
        <!-- <div id="hero-text-image" class="col-12">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start">
              <h1 data-aos="fade-right">But as for me and my house. We will serve the lord</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Joshua: 24:15</p>
              
            </div>
          </div>
        </div> -->
      </div>
    </div>
  
    </section>
  
    <main id="main">
      <section class="section">
        <div class="container">
          <div class="row justify-content-left text-left">
            <div class="col-md-5" data-aos="fade-up">
              <h2 class="mb-4 sub-heading">About</h2>
            </div>
          </div>
          <div class="row align-items-center" data-aos="fade-up">
            <div class="order-1">
              <p class="mb-4">St. Thomas Mar Thoma Church is a 113 year old church located very near to river Manimala, at Madathumbhagom North also known as Cherumatha in Kallooppara Grama Panchayat, Pathanamthitta Dist., Kerala. This village is populated by the religious harmony. A serene and beautiful Church was started by the reformers around Kallooppara Palli in A.D 1909.</p>
              <p><a href="/about-us" class="btn btn-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </section>
      
     
      <section id="members" class="members section">
        <div class="member-details container justify-content-center text-center" >
  
          <div class="row d-flex ">
  
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-left">
              <div class="member ">
                <div class="member-img">
                  <img src="assets/img/THEODOSIUS-MARTHOMA.jpeg" class="img-fluid" alt="" >
                </div>
                <div class="member-info">
                  <h4>Rev. Dr. Theodosius Mar Thoma Metropolitan</h4>
                  <span>METROPOLITAN & DIOCESAN BISHOP</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-right">
              <div class="member ">
                <div class="member-img">
                  <img src="assets/img/row_gheevarghese.jpg" class="img-fluid" alt="" >
                </div>
                <div class="member-info">
                  <h4>Rev. Roy Geevarghese</h4>
                  <span>PARISH VICAR</span>
                </div>
              </div>
            </div>
            
           
  
          </div>
  
        </div>
      </section>
      <section id="service-times" class="section">
        <div class="container">
  
          <div class="row justify-content-center text-center mb-5">
            <div class="col-md-5" data-aos="fade-up">
              <h2 class="sub-heading">Service Times</h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <i class="bi bi-bell"></i>
                </div>
                <h3 class="mb-3">Workship time</h3>
                <p>Holy Communion services are celebrated every first, second and forth Sunday at 09:00 a.m</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="mb-3">Organisation Activities</h3>
                <p>Sunday School every Sunday 7.30 a.m, Sevika Sangam every Wenesday at 10.30 a.m, Sevika Sangam every Wenesday at 10.30 a.m, Yuvajana Sakhyam  every Sunday after church service, Choir practice every Saturday at 4.30 p.m<br />Sevika Sangam every Sunday at 2.30 p.m</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <i class="bi bi-download"></i>
                </div>
                <h3 class="mb-3">Downloads</h3>
                <p>Download different application forms of church and parish. Application for Baptism, Application for Marriage License, Application for Marriage Banns, Deed Consent- Trustees etc</p>
              </div>
            </div>
          </div>
  
        </div>
      </section>
    <section id="blog" class="section">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-left">

          <h2>News and events</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-4 event"  *ngFor="let event  of eventList.slice(0, 3);">
            <div class="block-blog text-left">
              <a href="#"><img [src]="event.featuredImage"  alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">{{event.title}}</a></h4>
                <span>{{event.date}}</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>
          <div class="col align-to-center">
            <p><a href="/events" class="btn btn-primary">View all</a></p>
        </div>


        </div>
      </div>
    </section>

    <section class="section">
        
    </section>

   
    </main>