<section id="organisation" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>Organisation</h2>
        
      </div>

      <div class="row gy-4">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Sunday School</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Sevikasangom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Yuvajanasakhyam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Church Choir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Edavakamission</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-1 order-lg-1">
                  <h3>Sunday School</h3>
                  <p class="fst-italic">Train up a child in the way he should go: and when he is old, he will not depart from it (Proverbs 22:6)</p>
                  <p>Sunday School every Sunday 7.30a.m</p>
                </div>
                <div class="col-lg-4 text-center order-2 order-lg-2">
                  <img src="assets/img/orgn/sundayschool.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Sevikasangom</h3>
                  <p class="fst-italic">A women who fears the Lord is to be praised. (Proverbs 31:30)</p>
                  <p>Sevika Sangam every Wenesday at 10.30a.m</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/orgn/seviyasankam.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Yuvajanasakhyam</h3>
                  <p class="fst-italic">Young people, enjoy your youth. Be happy while you are still young. Do what you want to do, and follow your heart's desire. But remember that God is going to judge you for whatever you do. (Ecclesiastes 11:9)</p>
                  <p>Yuvajana Sakhyam  every Sunday after church service.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/orgn/yuvajanskam.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Church Choir</h3>
                  <p class="fst-italic">I will praise the name of God with a song, And will magnify him with thanksgiving. (Psalm 69:30)</p>
                  <p>Choir practice every Saturday at 4.30 p.m.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/orgn/choir.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Edavakamission</h3>
                  <p class="fst-italic">Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost (Matthew 28:19)</p>
                  <p>Sevika Sangam every Sunday at 2.30p.m</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/orgn/Edavakamission.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>