<section id="history" class="section pb-0">
    <div class="container">
      <h2 class="mb-4">Historic Moments</h2>
      <div class="row ">
        <div class="col-md-6 me-auto">
          <h4 class="mb-4">Established<h6 >11 Nov 1909</h6></h4>
          
          <p class="mb-4">The Reformers in the North side of Kallooppara Palli 27 families got together and constructed a shed not far from the location of the present Parish using bamboo, areca wood (Kamuku) and palm leaves, placed a cross dedicated and worshiped.</p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img src="assets/img/history_1.jpeg" alt="Image" class="img-fluid history-img">
        </div>
      </div>
      <div class="row align-items-center">
     
        <h4 class="mb-4">1924 Permenant Church Building<h6 >10 Jun 1924</h6></h4>
          <p class="mb-4">It was decided to have a permanent building for church services and the foundation stone was laid in 1919. The building was completed and consecrated in 1924 by the Metropolitan the Most Rev Titus II and the Suffragan Metropolitan and  Rt. Rev Abraham Marthoma</p>

      </div>
      <div class="row align-items-center">
        <h4 class="mb-4">1959 Golden Jubilee Year<h6 >12 Nov 1959</h6></h4>
          <p class="mb-4">The Golden Jubilee of the Parish was organised with extensive programmes and Rt Rev Mathews Mar Athanasius led the Parish in its the celebrations in 1959.</p>
      </div>
      <div class="row align-items-center">
        <h4 class="mb-4">Renovation Of Church Building<h6 >15 May 1976</h6></h4>
          <p class="mb-4">The Metropolitan the Most Rev Dr Yuhanon Marthoma laid the foundation stone for the new church building on 15 February 1970. Placing rafter beam was done in 1972. The Diocesan Bishop Rt Rev Mathews Mar Athanasius blessed the occasion. The consecration service of the renovated church building was led by Saffragon Metropolitan Rt Rev Alexander Mar Theophilos along with Rt Rev Thomas Mar Athanasius on 15 May 1976. After consecration, the first Qurbana was offered by the Most Rev Yuhanon Marthoma Metropolitan.</p>
      </div>
      <div class="row align-items-center">
        <h4 class="mb-4">1984 Platinum Jubilee Year<h6 >25 Nov 1984</h6></h4>
          <p class="mb-4">The Parish celebrated its Platinum Jubilee on 25 November 1984. H G the Most Rev Dr Alexander Marthoma Metropolitan led the celebrations. A brief history of the Parish was published, which familiarised the young generation with the early days of our Parish. And the Metropolitan laid the foundation stone for the Parsonage, which was a Platinum Jubilee Memorial programme.</p>
      </div>
      <div class="row align-items-center">
        <h4 class="mb-4">Navathy<h6 >14 Nov 1999</h6></h4>
          <p class="mb-4">Navathy (Ninety Glorious Years) The Parish formed by our forefathers, who were inspired by naveekaranam, completed ninety years in 1999. The year-long navathy celebrations were inaugurated by Rt Rev Yuyakim Mar Kurilose, the Bishop of Ranni-Nilackel Diosece on 22 November 1998. A timeslab describing the important events in the history of the Parish was installed. Joining with the Maitree Bhavanadana Padhati two houses were constructed and gifted. A hall adjoining the church building and a separate kitchen were constructed and consecrated. The Most Rev Philippose Mar Chrysostom Metropolitan led the concluding function of the centenary celebrations on 14 November 1999.</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade-right">
          <h4 class="mb-4">Centinary<h6 >8 Nov 2009</h6></h4>
          <img src="assets/img/history-100.jpeg" alt="Image" class="img-fluid history-img">
        </div>
        <div class="col-md-6 me-auto">
          <p class="mb-4">Satabdi (Centenary) The centenary celebrations of the Parish were inaugurated by the Most Rev Philippose Mar Chrysostom Valia Metropolitan on 9 November 2008. A number of programmes were conducted under the auspices of various sub-committees.</p>
        </div>
        
        <div class="row" >
          <p>The following schemes were decided to be initiated in connection with the centenary:</p>
          <ol class="mb-4">
            <li>Satabdi Smaraka Suvisheshvela Endowment Fund be collected.</li>
            <li>Centenary House Gifting scheme.</li>
            <li>Centenary Marriage Assistance for two persons.</li>
            <li>Hosting of a website for the Parish.</li>
          </ol>
          <p>The concluding meeting of the centenary celebrations were held on 7 November 2009. Rt Rev Zacharias Mar Theophilos Saffragan Metropolitan inaugurated the meeting. H G Geevarthese Mar Osthathios, Metropolitan of Niranam Orthodox Diocese was present and H G Thomas Mar Koorilose, Archbishop of Thiruvalla Malankara Catholic Diosese blessed the function. Various political, religious, and community leaders participated. On 8 November 2008 Holy Mass was celebrated  by the Saffragan Metropolitan, and it was followed by the Parish Day meeting. God Almighty blessed our Parish abundantly and enabled us to peacefully enter the New Century.</p>
        </div>
        
          
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 me-auto">
          <h4 class="mb-4">Fellowship Year<h6 >1 Apr 2012-13</h6></h4>
          <div class="col-md-6" data-aos="fade-left">
            <img src="assets/img/history-2012-213.jpeg" alt="Image" class="img-fluid history-img">
          </div>
        </div>

      </div>
    </div>
  </section>