<main id="events">

  <!-- ======= Blog Header ======= -->
  <div class="header-bg page-area">
    <div class="container position-relative">
      <div class="section-title">
        <h2>News and Events</h2>
      </div>
    </div>
  </div><!-- End Blog Header -->

  <!-- ======= Blog Page ======= -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">

        <!-- End left sidebar -->
        <!-- Start single blog -->
 
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" *ngFor="let event  of postList.slice(0, 5);">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a [href]="event.url">
                    <img [src]="event.featuredImage" alt="">
                  </a>
                </div>
                <div class="blog-meta">
                  <!-- <span class="comments-type">
                    <i class="bi bi-chat"></i>
                    <a href="#">11 comments</a>
                  </span> -->
                  <span class="date-type">
                    <i class="bi bi-calendar"></i>{{event.date}}
                  </span>
                </div>
                <div class="blog-text">
                  <h4>
                    <a [href]="event.url">{{event.title}}</a>
                  </h4>
                  <p>
                    {{event.description.substring(0,200)}}
                  </p>
                </div>
                <span>
                  <a [href]="event.url" class="ready-btn">Read more</a>
                </span>
              </div>
            </div>
            
            <!-- <div class="blog-pagination">
              <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
              </ul>
            </div> -->
          </div>
    
       
        
      </div>
    </div>
  </div>

</main>