<main id="events">

  <!-- ======= Blog Header ======= -->
  <div class="header-bg page-area">
    <div class="container position-relative">
      <div class="section-title">
        <h2 *ngIf="type=='posts'">News and Events</h2>
        <h2 *ngIf="type=='obituaries'">Obituaries</h2>
      </div>
    </div>
  </div><!-- End Blog Header -->

  <!-- ======= Blog Page ======= -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">

        <!-- End left sidebar -->
        <!-- Start single blog -->
 
          <div class="row">
            <div class="event col-md-4 col-sm-4 col-xs-4" *ngFor="let event  of postList.slice(0, 5);">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a [href]="event.url">
                    <img [src]="event.featuredImage" alt="">
                  </a>
                </div>
                <div class="blog-meta">
                  <span *ngIf="type=='posts'" class="date-type"> <i class="fa fa-calendar"></i>{{event.date}}</span>
                  <span *ngIf="type=='obituaries'" class="date-type"><i class="fa fa-calendar"></i>{{event.funeralAt}}</span>
                </div>
                <div *ngIf="type=='posts'" class="blog-text">
                  <h4>
                    <a [href]="event.url">{{event.title}}</a>
                  </h4>
                  <p>
                    {{event.description.substring(0,200)}}
                  </p>
                </div>
                <div *ngIf="type=='obituaries'" class="blog-text">
                  <h2>
                    <a [href]="event.url">{{event.title}} ({{event.age}})</a>
                  </h2>
                  <p>
                    {{event.description.substring(0,200)}}
                  </p>
                </div>
                <span>
                  <a [href]="event.url" class="ready-btn">Read more</a>
                </span>
              </div>
            </div>
          </div>
    
       
        
      </div>
    </div>
  </div>

</main>