<footer id="footer">
  <div class="container">
    <h3>St Thomas Marthoma Church Kallooppara</h3>
    <p>PURAMATTOM P.O, 689 543<br>
      kalloopparastmtc@gmail.com</p>
    <div class="social-links">
      <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
      <a href="https://www.facebook.com/stmtckallooppara"><i class="fa fa-facebook-square social-media-icon" ></i></a>
      <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
    </div>
    <div class="copyright">
      <!-- &copy; Copyright <strong><span>MeFamily</span></strong>. All Rights Reserved -->
      
    </div> 
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/joby-wilson-mathews-616a26123/">Joby Wilson Mathews</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a (click)="scroll()" *ngIf="showScrollUp" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
